.bg-wood {
    background-image: url("/images/wood5.jpg");
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-glass {
    background-image: url("/images/glass4.jpg");
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-metal {
    background-image: url("/images/metal5.jpg");
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.8);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-grad {
    background: linear-gradient(90deg, rgba(2,0,36,0) 50%, rgba(36,121,9,0.34217436974789917) 100%);
}