.jumbotron{
    position: relative;
    background: url('/images/workshop1.jpg') no-repeat center center;
    background-size: cover;
    text-shadow: 2px 2px #1b1b1b;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    color: white;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(#000000, .4);
    }

    @include respond-to('lg'){
        padding: {
            top: 8rem;
            bottom: 8rem;
        }
    }
    .container{
        position: relative;
        z-index: 99;

        @include respond-to('sm'){
            padding: {
                left: 0px;
                right: 0px;
            }
        }
        @include respond-to('lg'){
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }
}