.modal{
    .modal-content{
        .modal-loader{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(white, .5) url('/preloader.svg') no-repeat center center;
            background-size: 32px 32px;
            z-index: 99;
            
        }
    }
}