.ribbon {
    margin: auto;
    width: 110px;
    height: 110px;
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    overflow: hidden;
  }
  .ribbon span {
    width: 100px;
    height: 34px;
    top: 5px;
    right: -30px;
    position: absolute;
    display: block;
    background: #FF0000;
    color: #333;
    font-family: arial;
    font-size: 18px;
    color:white;
    text-align: center;
    line-height: 34px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }
  