.anim-slide {
    animation-name: slide;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out; 
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes slide {
    from { transform: translate(0%); }
    to { transform: translate(5%); }
}